@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #D5E1EF;
        font-family: "Outfit", sans-serif;
}

.card {
    width: 330px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0 25px 25px #0000000C;
    padding-bottom: 40px;
}

.card__img {
    width: 288px;
    height: 288px;
    margin: 16px 16px 24px;
    border-radius: 10px;
}

.card__body {
    display: flex;
    flex-direction: column;
    width: 288px;
    gap: 16px;
    
}

.card__title {
    font-size: 22px;
    line-height: 120%;
    letter-spacing: 0;
    font-weight: 700;
    text-align: center;
    color: #1F314F;
    
}

.card__description {
    font-size: 15px;
    line-height: 140%;
    letter-spacing: 0.2px;
    font-weight: 400;
    text-align: center;
    color: #68778D;
}