@font-face {
  font-family: "Figtree";
  src: url("./fonts/Figtree-VariableFont_wght.ttf")
    format("truetype-variations");
  font-weight: 100 900;
}

:root {
  --yellow: #f4d04e;
  --black: #111111;
  --gray: #6b6b6b;
  --white: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: var(--yellow);
}

.card {
  color: var(--black);
  background-color: var(--white);
  width: 327px;
  height: 501px;
  padding: 24px;
  border-radius: 20px;
  border: 1px solid var(--black);
  box-shadow: 8px 8px 0px 0px var(--black);
  font-family: Figtree;
}

.card__main {
  margin-bottom: 24px;
}

.card__img {
  width: 279px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 24px;
}

.card__subject {
  padding: 4px 12px;
  background-color: var(--yellow);
  display: inline-block;
  font-size: 12px;
  line-height: 150%;
  font-weight: 800;
  border-radius: 4px;
  margin-bottom: 12px;
}

.card__date {
  font-size: 12px;
  font-weight: 500;
  line-height: 150%;
  margin-bottom: 12px;
}

.card__title {
  font-size: 20px;
  font-weight: 800;
  line-height: 150%;
  margin-bottom: 12px;
}

.card__title:hover {
  cursor: pointer;
  color: var(--yellow);
  transition: color 0.3s ease;
}

.card__description {
  color: var(--gray);
  font-size: 14px;
  font-weight: 500;
  line-height: 150%;
}

.card__footer {
  display: flex;
  align-items: center;
  gap: 12px;
}

.card__avatar {
  width: 32px;
  height: 32px;
}

.card__author {
  font-size: 14px;
  font-weight: 800;
  line-height: 150%;
}

@media (min-width: 376px) {
  .card {
    width: 384px;
    height: 522px;
  }

  .card__img {
    width: 336px;
    height: 200px;
  }

  .card__subject {
    font-size: 14px;
  }

  .card__date {
    font-size: 14px;
  }

  .card__title {
    font-size: 24px;
  }

  .card__description {
    font-size: 16px;
  }
}
